# for tresl
add-connections-secrets.yml
node_modules/
values-staging.yaml
values-prod.yaml
secrets/add-connections-secrets-prod.yml
secrets/add-connections-secrets-staging.yml

## JetBrains
.idea/
*.iml
*.ipr
*.iws

## VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

## Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
[._]*.un~

## Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
.\#*

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*

## Chart Dependencies
**/charts/*.tgz
