apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "airflow.fullname" . }}-upgrade-db
  {{- /* this job can't be a post-install hook if `--wait` is passed to helm, */ -}}
  {{- /* because this job must run BEFORE other resource can become ready, */ -}}
  {{- /* meaning the install would never finish */ -}}
  {{- if not .Values.helmWait }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "-10"
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
  {{- end }}
  labels:
    app: {{ include "airflow.labels.app" . }}
    component: jobs
    chart: {{ include "airflow.labels.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      annotations:
        {{- if .Values.airflow.podAnnotations }}
        {{- toYaml .Values.airflow.podAnnotations | nindent 8 }}
        {{- end }}
      labels:
        app: {{ include "airflow.labels.app" . }}
        component: jobs
        chart: {{ include "airflow.labels.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
      restartPolicy: OnFailure
      {{- if .Values.airflow.image.pullSecret }}
      imagePullSecrets:
        - name: {{ .Values.airflow.image.pullSecret }}
      {{- end }}
      serviceAccountName: {{ include "airflow.serviceAccountName" . }}
      initContainers:
        {{- include "airflow.init_container.check_db" . | indent 8 }}
      containers:
        - name: upgrade-db
          {{- include "airflow.image" . | indent 10 }}
          envFrom:
            {{- include "airflow.envFrom" . | indent 12 }}
          env:
            {{- include "airflow.env" . | indent 12 }}
          command:
            - "/usr/bin/dumb-init"
            - "--"
          args:
            - "bash"
            - "-c"
            {{- if .Values.airflow.legacyCommands }}
            - "exec airflow upgradedb"
            {{- else }}
            - "exec airflow db upgrade"
            {{- end }}